@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: Comfortaa, sans-serif;
  margin: 0;
  color: #54575A;
  overflow-x: hidden;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1379px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 220px;
  top: 50.25px;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;

  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 68px;

}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

}

.app-store-btn {
  position: absolute;
width: 136.42px;
height: 44.26px;
left: 222.01px;
top: 560.01px;
}

.app-store-btn img {
  width: 136.42px;
height: 44.26px;
}

.google-play-btn {
  position: absolute;
width: 156.19px;
height: 46.28px;
left: 381.81px;
top: 560px;
}

.google-play-btn img {
width: 156.19px;
height: 46.28px;
}

.main-img-container {
  position: absolute;
  width: 535.72px;
height: 309.27px;
left: 683.28px;
top: 229.73px;
}

.main-img-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
height: 444px;
left: 737px;
right: 479px;
top: 686px;
}

.orders-img {
  position: absolute;
  height: 444px;
  left: 479px;
  right: 737px;
  top: 913px;
}

.home-img {
  position: absolute;
  height: 444px;
  left: 995px;
  right: 221px;
  top: 908px;
  
}

.cart-img {
  position: absolute;
height: 222px;
left: 221px;
right: 995px;
top: 1157px;
}

.product-img {
  position: absolute;
height: 222px;
left: 737px;
right: 479px;
top: 1157px;
}

.background-toggles {
  position: absolute;
  display: flex;
  right: 150px;
  top: 70px;
}

.background-toggles > div {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 2px 2px 10px;
  cursor: pointer;
}

/* Backgrounds */
.background-1 {
  background-color: #f9f9f9;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dad6e0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background-color: #e6e4ea;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%236f9b2a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.background-3 {
  background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}